@use '/src/content/panel/styles/Shared.module.scss';
@import '/src/content/utilities/partials/_dotSeparator.scss';
@import '/src/content/utilities/partials/_colors.scss';

.section {
  background-color: #fff;
  min-height: 100%;
}

.dotSeparator {
  margin: 0 0.25rem;
}

.mainHeader {
  display: flex;
  align-items: center;
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;

  h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .setting {
    border-bottom: 1px solid $grey-light05;
    padding-bottom: 1rem;
  }
}
