@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
}
//
//@font-face {
//  font-family: 'Poppins-Medium';
//  src: url('../public/fonts/Poppins-Medium.ttf');
//}
//
//@font-face {
//  font-family: 'Limelight';
//  src: url('../public/fonts/Limelight-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Crafty Girls';
//  src: url('../public/fonts/CraftyGirls-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Octavia';
//  src: url('../public/fonts/Octavia/Octavia.otf');
//}
//
//@font-face {
//  font-family: 'Avenir Next Cyr';
//  src: url('../public/fonts/Avenir.otf');
//}
//
//@font-face {
//  font-family: 'Puppies Play';
//  src: url('../public/fonts/PuppiesPlay-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Abhaya Libre';
//  src: url('../public/fonts/AbhayaLibre-ExtraBold.ttf');
//}
//
//@font-face {
//  font-family: 'Yellowtail';
//  src: url('../public/fonts/Yellowtail-Regular.ttf');
//}
//@font-face {
//  font-family: 'Oswald';
//  src: url('../public/fonts/Oswald-VariableFont_wght.ttf');
//}
//@font-face {
//  font-family: 'Bebas Neue';
//  src: url('../public/fonts/BebasNeue-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Leckerli One';
//  src: url('../public/fonts/LeckerliOne-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Lobster';
//  src: url('../public/fonts/Lobster-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Berkshire Swash';
//  src: url('../public/fonts/BerkshireSwash-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Stalemate';
//  src: url('../public/fonts/Stalemate-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Style Script';
//  src: url('../public/fonts/StyleScript-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Marker Felt';
//  src: url('../public/fonts/Marker Felt.ttf');
//}
//
//@font-face {
//  font-family: 'Righteous';
//  src: url('../public/fonts/Righteous-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Rochester';
//  src: url('../public/fonts/Rochester-Regular.ttf');
//}
//
//@font-face {
//  font-family: 'Lato';
//  src: url('../public/fonts/Lato-Light.ttf');
//}
//
//@font-face {
//  font-family: 'Rasa';
//  src: url('../public/fonts/Rasa-VariableFont_wght.ttf');
//}
//
//@font-face {
//  font-family: 'Laila';
//  src: url('../public/fonts/Laila-Light.ttf');
//}
