@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Limelight';
  src: url('/fonts/Limelight/Limelight-Regular.ttf');
}

@font-face {
  font-family: 'Crafty Girls';
  src: url('/fonts/Crafty_Girls/CraftyGirls-Regular.ttf');
}

@font-face {
  font-family: 'Octavia';
  src: url('/fonts/Octavia/Octavia.otf');
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('/fonts/Avenir/Avenir.otf');
}

@font-face {
  font-family: 'Puppies Play';
  src: url('/fonts/Puppies_Play/PuppiesPlay-Regular.ttf');
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('/fonts/Abhaya_Libre/AbhayaLibre-ExtraBold.ttf');
}

@font-face {
  font-family: 'Yellowtail';
  src: url('/fonts/Yellowtail/Yellowtail-Regular.ttf');
}
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Leckerli One';
  src: url('/fonts/Leckerli_One/LeckerliOne-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('/fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Berkshire Swash';
  src: url('/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

@font-face {
  font-family: 'Stalemate';
  src: url('/fonts/Stalemate/Stalemate-Regular.ttf');
}

@font-face {
  font-family: 'Style Script';
  src: url('/fonts/Style_Script/StyleScript-Regular.ttf');
}

@font-face {
  font-family: 'Marker Felt';
  src: url('/fonts/Marker_Felt/Marker Felt.ttf');
}

@font-face {
  font-family: 'Righteous';
  src: url('/fonts/Righteous/Righteous-Regular.ttf');
}

@font-face {
  font-family: 'Rochester';
  src: url('/fonts/Rochester/Rochester-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Rasa';
  src: url('/fonts/Rasa/Rasa-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Laila';
  src: url('/fonts/Laila/Laila-Light.ttf');
}
