.screenshot-item:hover {
  .screenshot-item-overlay {
    visibility: visible;
  }
}

.border-in {
  -webkit-box-shadow: inset;
  -moz-box-shadow: inset;
  box-shadow: inset;
}

.scroll-div::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 99px;
  cursor: pointer;
}

.scroll-div-unique-views::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 99px;
  cursor: pointer;
}

.scroll-div::-webkit-scrollbar-track {
  background: #D8D8D8;
  border-radius: 99px;
  cursor: pointer;
}

.scroll-div::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: #5b4dbe;
  cursor: pointer;
}

@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.multi-items {
  animation: 0.4s ease-in-out show-up;
}
