.git
node_modules
**/node_modules/*
**/npm-debug.log
**/.husky
.venv
**/.next
**/.turbo
**/build
**/i18n
**/dist
**/out
**/uploads
**/tmp_videos
**/tmp_videos_fixed
**/*.log

**/.vscode
**/.env.local
**/apps/portal/.env*
**/apps/api/.env*
**/apps/extensions/.env*
