.container {
    display: flex;
    align-items: center;
}

.selector {
    margin-right: 0.5rem;
}

.font {
    font-size: 0.75rem;
    line-height: 1rem;
}

.inputContainer {
    margin-right: 0.25rem;
    width: 7rem;
}