# IDE
.vscode
.idea

# dependencies
node_modules

# logs
npm-debug.log
yarn.lock

# Backpack build
build
release

# OSX files
.DS_Store

# Webpack stats
stats.json
/src/content/panel/screens/imagesScreen/components/CreateNewWorkspaceModal/CreateNewWorkspaceModal.module.css
/src/content/panel/screens/imagesScreen/components/CreateNewWorkspaceModal/CreateNewWorkspaceModal.module.css.map
/src/content/panel/screens/imagesScreen/MyImagesVideosScreen.module.css
/src/content/panel/screens/imagesScreen/MyImagesVideosScreen.module.css.map
/src/content/panel/components/containers/dashboardLayout/elements/Sidebar/Sidebar.module.css
/src/content/panel/components/containers/dashboardLayout/elements/Sidebar/Sidebar.module.css.map
/src/content/panel/components/containers/dashboardLayout/elements/SidebarMenuItems/SidebarItemsStyles.module.css
/src/content/panel/components/containers/dashboardLayout/elements/SidebarMenuItems/SidebarItemsStyles.module.css.map
/src/content/panel/components/containers/dashboardLayout/elements/Slidedown/Slidedown.module.css
/src/content/panel/components/containers/dashboardLayout/elements/Slidedown/Slidedown.module.css.map
/src/content/panel/screens/imagesScreen/components/UpdateWorkspaceDesription/UpdateWorkspaceDesription.module.css
/src/content/panel/screens/imagesScreen/components/UpdateWorkspaceDesription/UpdateWorkspaceDesription.module.css.map
/src/content/panel/screens/imagesScreen/components/UploadWorkspaceImage/UploadWorkspaceImage.module.css
/src/content/panel/screens/imagesScreen/components/UploadWorkspaceImage/UploadWorkspaceImage.module.css.map
/src/content/panel/screens/imagesScreen/components/WorkspaceModal/WorkspaceModal.module.css
/src/content/panel/screens/imagesScreen/components/WorkspaceModal/WorkspaceModal.module.css.map
/src/content/panel/screens/singleImageScreen/SingleImageScreen.module.css
/src/content/panel/screens/singleImageScreen/SingleImageScreen.module.css.map
/src/content/panel/screens/videoEditorScreen/VideoEditorScreen.module.css
/src/content/panel/screens/videoEditorScreen/VideoEditorScreen.module.css.map
/src/content/panel/screens/imagesScreen/components/folderItem/FolderItem.module.css
/src/content/panel/screens/imagesScreen/components/folderItem/FolderItem.module.css.map
/src/content/panel/screens/uploadScreen/UploadScreen.module.css
/src/content/panel/screens/uploadScreen/UploadScreen.module.css.map
/src/content/panel/screens/editorScreen/commentsPopup/editorComments.css
/src/content/panel/screens/editorScreen/commentsPopup/editorComments.css.map
/src/content/panel/screens/imagesScreen/components/sortingDropDown/sortingDropDown.module.css
/src/content/panel/screens/imagesScreen/components/sortingDropDown/sortingDropDown.module.css.map
/src/content/panel/screens/editorScreen/editorHelpers/commentsPopup/editorComments.css
/src/content/panel/screens/editorScreen/editorHelpers/commentsPopup/editorComments.css.map
/src/content/panel/hooks/useEnableComments/useEnableComments.module.css
/src/content/panel/hooks/useEnableComments/useEnableComments.module.css.map
/src/content/panel/screens/editorScreen/editorHelpers/commentsPopup/editorComments.css
/src/content/panel/screens/editorScreen/editorHelpers/commentsPopup/editorComments.css.map
/src/content/panel/hooks/useEnableComments/useEnableComments.module.css
/src/content/panel/hooks/useEnableComments/useEnableComments.module.css.map
/src/content/panel/components/containers/dashboardLayout/elements/UserShortInfo.module.css
/src/content/panel/components/containers/dashboardLayout/elements/UserShortInfo.module.css.map
/src/content/panel/screens/imagesScreen/pages/workspace/MoveToWorkspaceModal/MoveToWorkspaceModal.module.css
/src/content/panel/screens/imagesScreen/pages/workspace/MoveToWorkspaceModal/MoveToWorkspaceModal.module.css.map
/src/content/panel/screens/imagesScreen/pages/workspaces/WorkspaceManageScreen.module.css
/src/content/panel/screens/imagesScreen/pages/workspaces/WorkspaceManageScreen.module.css.map
/src/content/panel/screens/editorScreen/toolsPanel/ToolsPanel.css
/src/content/panel/screens/editorScreen/toolsPanel/ToolsPanel.css.map
/src/content/panel/screens/IntegrationsScreen/Integrations.module.css.map
/src/content/panel/screens/IntegrationsScreen/Integrations.module.css
/src/content/panel/screens/imagesScreen/pages/integrations/IntegrationPage.module.css.map
/src/content/panel/screens/imagesScreen/pages/integrations/IntegrationPage.module.css
/src/content/components/containers/appSpinnerLocal/AppSpinnerLocal.module.css
/src/content/components/containers/appSpinnerLocal/AppSpinnerLocal.module.css.map
/src/content/panel/components/containers/dashboardLayout/elements/FavFoldersSidebarSection/FavFoldersSidebarSection.module.css
/src/content/panel/components/containers/dashboardLayout/elements/FavFoldersSidebarSection/FavFoldersSidebarSection.module.css.map
/src/content/panel/styles/Shared.module.css
/src/content/panel/styles/Shared.module.css.map
/src/content/panel/screens/imagesScreen/pages/myImages/screenshotsContainer/ScreenshotItem/ScreenshotItem.module.css
/src/content/panel/screens/imagesScreen/pages/myImages/screenshotsContainer/ScreenshotItem/ScreenshotItem.module.css.map
/src/content/panel/screens/imagesScreen/pages/myImages/screenshotsContainer/screenshots.css
/src/content/panel/screens/imagesScreen/pages/myImages/screenshotsContainer/screenshots.css.map
/src/content/panel/screens/imagesScreen/pages/myVideos/VideoItem/VideoItem.module.css
/src/content/panel/screens/imagesScreen/pages/myVideos/VideoItem/VideoItem.module.css.map
/src/content/panel/screens/imagesScreen/components/PermissionsModal/PermissionsModal.module.css.map
/src/content/panel/screens/imagesScreen/components/PermissionsModal/PermissionsModal.module.css
