@import 'pagesScss/partials/_colors.scss';

.wrapper {
  position: relative;
  background: #ffffff;
  display: flex;
  align-items: center;
  min-height: 48px;
  margin-bottom: 0.75rem;
  transition: background-color 0.2s ease-in;
  cursor: pointer;

  .contentOuterWrapper {
    width: 100%;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-left: 24px;

      &.active {
        padding-left: 1rem;
      }
    }
  }

  &:hover {
    background: $primary-violet10;
    transition: background-color 0.2s ease-in;

    &.active {
      background: $primary-violet10;
    }
  }

  &.active {
    background: $primary-violet10;

    .icon {
      color: $primary-violet;
    }
    .title {
      color: #000000;
    }
  }

  .activeIndicator {
    width: 6px;
    min-height: 48px;
    background: $primary-violet;

    &.subItems {
      margin-left: -8px;
    }
  }

  .icon {
    margin-right: 10px;
  }

  .title {
    font-weight: 500;
  }

  .icon,
  .title {
    color: $grey-dark-20;
  }
}
