@import 'pagesScss/partials/_colors.scss';

$primary-dark: #2A292F;
$primary-accent: #5B4DBE;
$border-radius: 10px;

.listWrapper {
  overflow-y: auto;
  max-height:120px;
  height: auto;

  .title {
    display:flex;
    margin-left: 4rem;
    color: #000000;
    margin-bottom: 4px;
    padding-top: 0.3rem;
    padding-left:10px;
    padding-bottom: 0.3rem;
    transition: color 0.2s ease-in;
  }
}
.wrapper {
  position: relative;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  border-radius: $border-radius;

  .contentOuterWrapper {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-left: 24px;

      &.active {
        border-radius: $border-radius;
        color: $primary-accent;
      }
    }
  }

  .icon,
  .title {
    color: $primary-dark;
    transition: color 0.2s ease-in;
  }

  &:hover {
    background: $primary-violet10;
    transition: background-color 0.2s ease-in;

    .icon,
    .title {
      color: $primary-accent;
    }

    &.active {
      background: $primary-violet10;
    }
  }

  &.active {
    background: $primary-violet10;
    border-radius: $border-radius;

    .icon,
    .title {
      color: $primary-accent;
    }
  }

  .icon {
    margin-right: 10px;
  }

  .title {
    font-weight: 500;
  }
}
