.thumbnail {
  display: flex;
  align-items: center;
  height: 176px;
  overflow: hidden;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.paddingTop {
  padding-top: 49%;
}

.video {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
