.editorComments {
  display: none;
  border-radius: 20px !important;
  background-color: #e9e7f0;
  background-image: radial-gradient(
      at 47% 83%,
      rgb(211, 205, 248) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(253.33, 23%, 92%) 0, transparent 55%);
  -webkit-box-shadow: inset 0px 22px 10px -15px #ffffff;
  box-shadow: inset 0px 22px 10px -15px #ffffff;
  -webkit-box-shadow: 0px 0px 7px -3px #000000;
  box-shadow: 0px 0px 7px -3px #000000;
  border: 1px solid rgba(91, 77, 240, 0.13);
  z-index: 2000;
  position: absolute;
  width: 300px;
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    border-radius: 25px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  em-emoji-picker {
    height: 200px !important;
    -webkit-box-shadow: 0px -11px 38px 2px rgba(0, 0, 0, 0.29);
    box-shadow: 0px -11px 38px 2px rgba(0, 0, 0, 0.29);
  }
}

.textarea {
  border: grey;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #fbfaff;
  border-bottom: 1px solid #d4d2d4;
}
.iconsContainer {
  display: flex;
  justify-content: space-between;
}
.iconsInnerContainer {
  display: flex;
  justify-content: space-around;
  width: 70px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: absolute;
  background-color: #fbfaff;
  margin-left: 20px;
  margin-top: -10px;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.blockDisplay {
  display: block;
}
.hiddenDisplay {
  display: none;
}
