.progressIndicatorContainer {
  padding: 1rem 2rem;
  width: 256px;
}

.progressTitle {
  margin-bottom: 1.5rem !important;
  font-weight: bold !important;
  font-size: 1.125rem !important;
  text-align: center;
}

.progressWrapper {
  margin-bottom: 1rem;
}

.progressText {
  font-size: 2rem !important;
  font-weight: bold !important;
  margin-left: 1rem !important;
}
